{% extends "base.html" %}

{% block head %}
<script>
    const search_for_test_result_by_type = () => {
        const searchInputValue = document.getElementById("test_result_by_type_search").value;
        if (searchInputValue.toUpperCase() == "МИША") {
            window.location.href = "https://vk.com/flamesky";
        } else if (searchInputValue.toUpperCase() == "АЛМАЗ") {
            window.location.href = "https://vk.com/sokol_metkiy";
        } else {
            const parser = new URL(window.location);
            parser.searchParams.set("result_type", searchInputValue);
            window.location = parser.href;
        }
    }
</script>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center">
    <div class="flex my-3 gap-5">
        <input id="test_result_by_type_search" type="text" placeholder="Тип результата теста" class="text-xl">
        <button onclick="search_for_test_result_by_type()" type="button" class="border-2 rounded-3xl bg-gray-300 p-3">
            Поиск по результатам теста
        </button>
    </div>
    <span>Например, AIZENKA, ELERSA</span>
    {% for result in results %}
        <script> console.log("HELLO")</script>
        <div class="flex rounded-3 border-2 p-3 mt-5">
            <img width="150" src="{{ url_for('static', path='stocks_1.png') }}" alt="Стонкс" class="mr-5">
            <div class="flex flex-col">
                <span class="text-2xl font-bold">{{ result.result_type }}</span>
                <span class="text-lg">ID результата теста: {{ result.id }}</span>
                <span class="text-lg">ID пользователя: {{ result.user_id }}</span>
                <span class="text-lg">Дата прохождения теста: {{ result.date }}</span>
                <span class="text-lg">Количество баллов: {{ result.result }}</span>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}