{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='styles_video.css') }}"/>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center" style="color: white;">
    <div class="text-xl" style="color:white; text-align: center; margin-top: 10px" id="start_or_stop_description">
        После нажатия на кнопку "Начать запись"<br>начнется запись аудио и видео с камеры Вашего устройства   
    </div>
    <div>
        <div id="startButton">
            <div style="margin-top: 10px; margin-bottom: 5px;" class="button">Начать запись</div>
        </div>
        <div id="stopButton">
            
        </div>
        <video id="preview" width="500" height="400" autoplay muted></video>
        
    </div>

    <div style="margin-top: 10px" id="to_download">
        
    </div>

    <div class="bottom">
        <pre id="no_camera_or_microphone"></pre>
    </div>

    <div class="bottom">
        <pre id="seconds"></pre>
    </div>

    <script>
        let preview = document.getElementById("preview");
        let startButton = document.getElementById("startButton");
        let stopButton = document.getElementById("stopButton");
        let logElement = document.getElementById("log");
        let to_download = document.getElementById("to_download");
        let start_or_stop_description = document.getElementById("start_or_stop_description");
        let duration_sec = {{ duration }} + 1;
        let recordingTimeMS = duration_sec * 1000;
        
        

        function log(msg) {
            console.log(msg);
        }
    
        function wait(delayInMS) {
            return new Promise((resolve) => setTimeout(resolve, delayInMS));
        }
        
        function startRecording(stream, lengthInMS) {
            let past_seconds = 0;
            let timerId = null;
            function updateCountdown() {
                past_seconds += 1;
                const diff = duration_sec - past_seconds;
                if (diff <= 0) {
                    clearInterval(timerId);
                }
                document.getElementById('seconds').innerHTML = `Осталось секунд: ${diff}`;
            }
            // Обновляем счетчик каждую секунду
            timerId = setInterval(updateCountdown, 1000);

            to_download.innerHTML = '';
            let recorder = new MediaRecorder(stream);
            let data = [];
            
            recorder.ondataavailable = (event) => data.push(event.data);
            recorder.start();
            startButton.innerHTML = '';
            start_or_stop_description.innerHTML = 'Для завершения записи до конца таймера<br>можете нажать на "Остановить запись до конца таймера"';
            stopButton.innerHTML = '<div style="margin-top: 10px; margin-bottom: 5px;" class="button">Остановить запись до конца таймера</div>';
            log(`${recorder.state} for ${lengthInMS / 1000} seconds…`);
        
            let stopped = new Promise((resolve, reject) => {
                recorder.onstop = resolve;
                recorder.onerror = (event) => reject(event.name);
            });
        
            let recorded = wait(lengthInMS).then(() => {
                if (recorder.state === "recording") {
                    recorder.stop();
                }
            });
        
            return Promise.all([stopped, recorded]).then(() => data);
        }
    
        function stop(stream) {
            stream.getTracks().forEach((track) => track.stop());
        }
    
        startButton.addEventListener(
            "click",
            () => {
                navigator.mediaDevices
                .getUserMedia({
                    video: true,
                    audio: true,
                })
                .then((stream) => {
                    preview.srcObject = stream;
                    preview.captureStream = preview.captureStream || preview.mozCaptureStream;
                    return new Promise((resolve) => (preview.onplaying = resolve));
                })
                .then(() => startRecording(preview.captureStream(), recordingTimeMS))
                .then((recordedChunks) => {
                    let recordedBlob = new Blob(recordedChunks, { type: "video/mp4" });
                    to_download.innerHTML = '<h2>Полученная запись</h2>' + 
                        '<video id="recording" width="500" height="400" controls></video>' +
                        '<a id="downloadButton" class="button" style="margin-top: 10px">Скачать видео</a>';
                    let recording = document.getElementById("recording");
                    let downloadButton = document.getElementById("downloadButton");
                    recording.src = URL.createObjectURL(recordedBlob);

                    recordedBlob.lastModifiedDate = new Date();
                    recordedBlob.name = "blob_video.mp4";

                    var body_data = new FormData()
                    body_data.append('file', recordedBlob);
                    post_url = new URL('http://127.0.0.1:8000/video_candidate/add_video');
                    post_url.searchParams.set("question_id", 1);
                    fetch(post_url, {
                        method: 'POST',
                        body: body_data
                    }).then(function(response) {
                        // if (response.ok) {
                        //     window.location.href = "http://127.0.0.1:8000/pages/test_results";
                        // }
                        return response.json();

                    }).then(function(data) {
                        // document.getElementById('wrong_email_or_password').innerHTML = '';
                        // if ("detail" in data) {
                        //     if (data.detail == 'LOGIN_BAD_CREDENTIALS') {
                        //         //неверный email или пароль
                        //         var wrong_email_or_password = document.getElementById('wrong_email_or_password');
                        //         wrong_email_or_password.innerHTML = `<p>Неверное имя пользователя<br>или пароль</p>`
                        //     }
                        // }
                        console.log(data);
                    }).catch(function(error) {
                        console.error(error);
                    });

                    downloadButton.href = recording.src;
                    log("src = " + recording.src);
                    downloadButton.download = "RecordedVideo.mp4";
                    startButton.innerHTML = '<div style="margin-top: 10px; margin-bottom: 5px;" class="button">Начать запись</div>';
                    stopButton.innerHTML = '';
                    start_or_stop_description.innerHTML = 'После нажатия на кнопку "Начать запись"<br>начнется запись аудио и видео с камеры Вашего устройства';
                    log(`Successfully recorded ${recordedBlob.size} bytes of ${recordedBlob.type} media.`);
                    stop(preview.srcObject);
                    document.getElementById('seconds').innerHTML = '';
                })
                .catch((error) => {
                    if (error.name === "NotFoundError") {
                        log("Запись невозможна: камера или микрофон не обнаружены");
                        document.getElementById('no_camera_or_microphone').innerHTML = "Запись невозможна: камера или микрофон не обнаружены";
                    } else {
                        log(error);
                    }
                });
            },
            false,
        );
    
        stopButton.addEventListener(
            "click",
            () => {
                stop(preview.srcObject);
            },
            false,
        );
    </script>
</div>
{% endblock %}