{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="{{ url_for('static', path='styles_video.css') }}"/>
{% endblock %}

{% block content %}
<div class="flex justify-center flex-col items-center" style="color: white;">
    <div>
        <div id="startButton" class="button">Start Recording</div>
        <h2>Preview</h2>
        <video id="preview" width="500" height="400" autoplay muted></video>
    </div>

    <div>
        <div id="stopButton" class="button">Stop Recording</div>
        <h2>Recording</h2>
        <video id="recording" width="500" height="400" controls></video>
        <a id="downloadButton" class="button">Download</a>
    </div>

    <div class="bottom">
        <pre id="log"></pre>
    </div>

    <script>
        let preview = document.getElementById("preview");
        let recording = document.getElementById("recording");
        let startButton = document.getElementById("startButton");
        let stopButton = document.getElementById("stopButton");
        let downloadButton = document.getElementById("downloadButton");
        let logElement = document.getElementById("log");
    
        let recordingTimeMS = 6 * 1000;
    
        function log(msg) {
            logElement.innerHTML += `${msg}\n`;
        }
    
        function wait(delayInMS) {
            return new Promise((resolve) => setTimeout(resolve, delayInMS));
        }
    
        function startRecording(stream, lengthInMS) {
            let recorder = new MediaRecorder(stream);
            let data = [];
        
            recorder.ondataavailable = (event) => data.push(event.data);
            recorder.start();
            log(`${recorder.state} for ${lengthInMS / 1000} seconds…`);
        
            let stopped = new Promise((resolve, reject) => {
                recorder.onstop = resolve;
                recorder.onerror = (event) => reject(event.name);
            });
        
            let recorded = wait(lengthInMS).then(() => {
                if (recorder.state === "recording") {
                    recorder.stop();
                }
            });
        
            return Promise.all([stopped, recorded]).then(() => data);
        }
    
        function stop(stream) {
            stream.getTracks().forEach((track) => track.stop());
        }
    
        startButton.addEventListener(
            "click",
            () => {
                navigator.mediaDevices
                .getUserMedia({
                    video: true,
                    audio: true,
                })
                .then((stream) => {
                    preview.srcObject = stream;
                    downloadButton.href = stream;
                    preview.captureStream = preview.captureStream || preview.mozCaptureStream;
                    return new Promise((resolve) => (preview.onplaying = resolve));
                })
                .then(() => startRecording(preview.captureStream(), recordingTimeMS))
                .then((recordedChunks) => {
                    let recordedBlob = new Blob(recordedChunks, { type: "video/mp4" });
                    recording.src = URL.createObjectURL(recordedBlob);
                    downloadButton.href = recording.src;
                    downloadButton.download = "RecordedVideo.mp4";
        
                    log(`Successfully recorded ${recordedBlob.size} bytes of ${recordedBlob.type} media.`);
                })
                .catch((error) => {
                    if (error.name === "NotFoundError") {
                        log("Camera or microphone not found. Can't record.");
                    } else {
                        log(error);
                    }
                });
            },
            false,
        );
    
        stopButton.addEventListener(
            "click",
            () => {
                stop(preview.srcObject);
            },
            false,
        );
    </script>
</div>
{% endblock %}